
<!-- FOOTER -->
<footer id="footer" class="pt-5">
  <div class="container">
    <div class="row g-4">

      <!-- BRAND -->
      <div class="col-lg-3 col-md-6">
        <h4 class="footer-brand">
          <i class="bi bi-egg-fried"></i> PoultryMart
        </h4>
        <p class="footer-desc">
          Fresh poultry delivered to your doorstep in Albay. 
          Quality you can trust.
        </p>

        <div class="socials">
          <i class="bi bi-facebook"></i>
          <i class="bi bi-instagram"></i>
        </div>
      </div>

      <!-- LINKS -->
      <div class="col-lg-3 col-md-6">
        <h5>Quick Links</h5>
        <ul class="footer-links">
          <li><a href="#">Shop Products</a></li>
          <li><a href="#">Track Orders</a></li>
          <li><a href="#">My Account</a></li>
        </ul>
      </div>

      <!-- CUSTOMER -->
      <div class="col-lg-3 col-md-6">
        <h5>Customer Service</h5>
        <ul class="footer-links">
          <li><a href="#">FAQs</a></li>
          <li><a href="#">Delivery Information</a></li>
          <li><a href="#">Return Policy</a></li>
          <li><a href="#">Privacy Policy</a></li>
        </ul>
      </div>

      <!-- CONTACT -->
      <div class="col-lg-3 col-md-6">
        <h5>Contact Us</h5>
        <ul class="footer-contact">
          <li><i class="bi bi-geo-alt"></i> Legazpi City, Albay, Philippines</li>
          <li><i class="bi bi-telephone"></i> +63 917 123 4567</li>
          <li><i class="bi bi-envelope"></i> support@poultrymart.ph</li>
        </ul>
      </div>

    </div>

    <hr>

    <p class="text-center copyright">
      © 2026 PoultryMart. All rights reserved.
    </p>
  </div>
</footer>